<ion-header>
  <ion-navbar>
    <ion-title>Text to Speech!</ion-title>
    <h4 class='welcome' *ngIf="auth.isLoggedIn()">Welcome back!</h4>
    
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2></h2>
  <p>
    Here you can turn anything you type into speech! Give it a try!
  </p>
  <ion-list >
    <ion-item class="tts">
      <ion-input class= "input" type="text" placeholder="Type anything here!" 
        [(ngModel)]="message"></ion-input>
    </ion-item>
    <ion-item class="tts">
      <ion-label>Language</ion-label>
      <ion-select [(ngModel)]="locale" class="language">
        <ion-option value="" selected default hidden>Select a Locale</ion-option>
        <ion-option *ngFor="let locale of localeKeys"
          [value]="locale">{{ locales[locale] }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="tts">
      <ion-label>Adjust Speed</ion-label>
      <ion-range [(ngModel)]="rate" min="1" max="100">
        <ion-icon range-left small name="slow"></ion-icon>
        <ion-icon range-right name="fast"></ion-icon>
      </ion-range>
    </ion-item>
    <button ion-button class="buttons" (click)="speak()">Start</button>
    <button ion-button class="buttons">Stop</button>
  </ion-list>
</ion-content>
